{% extends "base.twig" %}

{% block content %}
  <section class="hero" id="content" role="main">
    <div class="hero-video">
      {% if post.meta('hero_video') == 'iframe' %}
        <iframe src="{{ post.meta('iframe_video') }}" frameborder="0" allow="autoplay"></iframe>
      {% elseif post.meta('hero_video') == 'file' %}
        <video poster="{{ post.meta('video_poster_frame').url }}" autoplay="true" loop="true" muted="true" playsinline="true" width="1920" height="1080">
          <source src="{{ post.meta('video_file').url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% endif %}
    </div>
    <div class="hero-content">
    	<h1>{{ post.meta('header') }}</h1>
    	<h2>{{ post.meta('sub_header') }}</h2>
      {% if post.meta('button_type') == 'page' %}
        <a href="{{ post.meta('same_page_link') }}" class="button">
          {{ post.meta('button_text') }}
        </a>
      {% elseif post.meta('button_type') == 'internal' %}
        <a href="{{ post.meta('internal_link') }}" class="button">
          {{ post.meta('button_text') }}
        </a>
      {% elseif post.meta('button_type') == 'external' %}
        <a href="{{ post.meta('external_link') }}" class="button" target="_blank">
          {{ post.meta('button_text') }}
        </a>
      {% elseif post.meta('button_type') == 'iframe' %}
        <a href="javascript:;" data-fancybox data-type="iframe" data-src="{{ post.meta('iframe_link') }}" class="button">
          {{ post.meta('button_text') }}
        </a>
      {% endif %}
    </div>
    <div class="hero-diagonal">
      {{ source('images/diagonal-top.svg') }}
      <a class="arrow-down" href="#about">
        {{ source('images/arrow-down.svg') }}
      </a>
    </div>
  </section>

  <section class="about" id="about">
    <h1>{{ post.meta('about_title') }}</h1>
    <div class="flex">
      <div class="left">
        <h2>{{ post.meta('about_featurette') }}</h2>
      </div>
      <div class="right">
        {{ post.meta('about_content') }}
      </div>
    </div>
  </section>

  <section class="process" id="process">
    <h1>{{ post.meta('process_title') }}</h1>
    <div class="flex">
      <div class="outer">
        <div class="inner">
          <img src="{{ post.meta('panel_1_icon').url }}" alt="{{ post.meta('panel_1_icon').alt }}">
          <h2>{{ post.meta('panel_1_header') }}</h2>
          {{ post.meta('panel_1_content') }}
        </div>
      </div>
      <div class="outer">
        <div class="inner">
          <img src="{{ post.meta('panel_2_icon').url }}" alt="{{ post.meta('panel_2_icon').alt }}">
          <h2>{{ post.meta('panel_2_header') }}</h2>
          {{ post.meta('panel_2_content') }}
        </div>
      </div>
      <div class="outer">
        <div class="inner">
          <img src="{{ post.meta('panel_3_icon').url }}" alt="{{ post.meta('panel_3_icon').alt }}">
          <h2>{{ post.meta('panel_3_header') }}</h2>
          {{ post.meta('panel_3_content') }}
        </div>
      </div>
    </div>
    {% if post.meta('process_button_link') %}
      <a href="{{ post.meta('process_button_link') }}" class="button">
        {{ post.meta('process_button_text') }}
      </a>
    {% endif %}
  </section>

  <section class="mission" id="mission" style="background-image: url('{{ post.meta("mission_bg").url }}');">
    <div class="overlay"></div>
    {{ source('images/diagonal-bottom.svg') }}
    <div class="content">
      <h1>{{ post.meta('mission_title') }}</h1>
      <h2>{{ post.meta('mission_cta') }}</h2>
      <p>{{ post.meta('signature') }}</p>
    </div>
    {{ source('images/diagonal-top.svg') }}
  </section>

  <section class="contact" id="contact">
    <h1>{{ post.meta('contact_title') }}</h1>
    <div class="contact-bg">
      <div class="the-form">
        <h2>{{ post.meta('form_header') }}</h2>
        {{ post.meta('contact_form_shortcode')|shortcodes }}
      </div>
    </div>
  </section>

{% endblock %}
