$font-family-header          : 'Ubuntu', sans-serif;
$font-family-primary         : 'Muli', sans-serif;

$font-weight--regular        : 400;
$font-weight--bold           : 700;

$white                       : #ffffff;
$black                       : #000000;
$blue                        : #081f2d;
$blue-light                  : #20323f;
$blue-xlight                 : #c8ccd0;
$khaki                       : #b6a999;

$primary-color               : $blue;
$secondary-color             : $khaki;
