footer {
  background-color: $blue-light;
  padding: 15% 50px 50px;
  position: relative;
  .diagonal-bottom {
    fill: $primary-color;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .footer-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .left {
      flex: 1;
      p {
        &:first-child {
          color: $white;
          font-family: $font-family-header;
          letter-spacing: .2em;
          text-transform: uppercase;
          @media (min-width: 768px) {
            a {
              margin-right: 10px;
            }
          }
        }
        .pipe {
          display: none;
          @media (min-width: 768px) {
            display: inline;
            margin: 0 10px;
          }
        }
        .text, a {
          display: block;
          text-align: center;
          &.credit {
            display: inline;
          }
          @media (min-width: 768px) {
            display: inline;
          }
        }
      }
    }
    .right {
      width: 130px;
      svg {
        display: block;
        fill: $white;
        height: auto;
        width: 100%;
      }
    }
  }
}
