// hide the fixed position recaptcha badge - *requires* links to Google Privacy Policy and Terms & Conditions
.grecaptcha-badge {
  display: none;
}

// hide Formidable form honeypot label, visible as of v4.0
.frm_forms .frm_verify{
  display:none !important;
}

.page-template-home .contact .contact-bg .the-form form {
  .frm_error_style {
    color: $khaki;
  }
  fieldset {
    border: none;
    legend {
      display: none;
    }
    .frm_fields_container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;
      .frm_form_field {
        display: block;
        margin-bottom: 12px;
        padding: 0 6px;
        label {
          color: $white;
          display: block;
          font-size: 14px;
        }
        input, textarea {
          background-color: $white;
          border: none;
          display: block;
          font-family: $font-family-primary;
          font-size: 14px;
          line-height: 21px;
          padding: 4px 8px;
          width: 100%;
          &:focus {
            outline: 2px solid $khaki;
          }
        }
        textarea {
          height: 71px; // 3 lines x 21px + 4px padding x 2 (top & bottom)
          resize: vertical;
        }
        .frm_error {
          color: $khaki;
        }
      }
      .frm_hidden {
        display: none;
      }
      .frm_full {
        width: 100%;
      }
      .frm_half {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .frm_third {
        width: calc(100% / 3);
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .frm_two_thirds {
        width: calc(200% / 3);
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .frm_none_container {
        margin-bottom: 0;
        .frm_primary_label {
          display: none;
        }
      }
      .frm_html_container {
        p {
          font-size: 10px;
          text-align: center;
        }
      }
      .frm_submit {
        display: flex;
        justify-content: center;
        padding: 0 6px;
        text-align: center;
        width: 100%;
        button {
          background-color: transparent;
          border: 1px solid $white;
          color: $white;
          display: inline-block;
          font-family: $font-family-header;
          font-size: 14px;
          letter-spacing: .2em;
          padding: 12px 18px;
          text-transform: uppercase;
          transition: all .3s ease-in-out;
          &:hover {
            background-color: $white;
            border: 1px solid $white;
            color: $primary-color;
          }
          &:focus {
            outline: 2px solid $khaki;
          }
        }
      }
    }
  }
}
