* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: $white;
  font-family: $font-family-primary;
  font-size: 14px;
  height: 100%;
  line-height: 1.85;
  margin: 0;
  &.noscroll {
    overflow: hidden;
  }
  &.fancybox-active {
    height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-in-out;
  &:hover {
    color: $khaki;
  }
}

img {
  display: block;
}

h1 {
  color: $khaki;
  font-family: $font-family-header;
  font-size: 14px;
  letter-spacing: .2em;
  margin: 1.5em 0 3em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  &::after {
    background-color: $khaki;
    bottom: -8px;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 60px;
  }
}

h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  font-weight: $font-weight--bold;
  letter-spacing: .02em;
}

h2 {
  font-size: 20px;
  line-height: 1.25;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 20px;
}

p {
  color: $blue-xlight;
}

.screen-reader-text {
  display: none;
}

.button {
  border: 1px solid $white;
  display: inline-block;
  font-family: $font-family-header;
  font-size: 14px;
  letter-spacing: .2em;
  padding: 12px 18px;
  text-transform: uppercase;
  &:hover {
    background-color: $white;
    border: 1px solid $white;
    color: $primary-color;
  }
}
