header {
  align-items: center;
  background-color: $primary-color;
  position: fixed;
  transition: transform 1s ease-in-out;
  width: 100%;
  z-index: 1;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  &.open {
    background-color: $primary-color !important;
  }
  &.scroll-up {
    transform: translateY(-100%);
  }
  .header-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    h1 {
      color: $white;
      font-family: $font-family-header;
      font-size: 0;
      letter-spacing: 0;
      margin: 0;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      &::after {
        content: none;
      }
      a {
        display: block;
        padding: 46px 24px;
        svg {
          display: block;
          fill: $white;
          height: auto;
          width: 100%;
        }
      }
    }
    .phone-icon {
      display: block;
      padding: 37.5px 24px;
      @media (min-width: 768px) {
        display: none;
      }
      svg {
        display: block;
      }
    }
    .menu-toggle {
      display: block;
      padding: 24px;
      @media (min-width: 768px) {
        display: none;
      }
      .hamburger-icon {
        width: 30px;
        height: 18px;
        position: relative;
        .line {
          background-color: $white;
          height: 2px;
          position: absolute;
          transition: all .3s ease-in-out;
          width: 100%;
          &.line-1 {
            top: 0;
          }
          &.line-2 {
            top: 50%;
            transform: translateY(-50%);
          }
          &.line-3 {
            top: 100%;
            transform: translateY(-100%);
          }
        }
        &.active {
          .line {
            background-color: $secondary-color;
            &.line-1 {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }
            &.line-2 {
              opacity: 0;
            }
            &.line-3 {
              top: 50%;
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }
      }
    }
  }
  nav {
    display: none;
    background-color: $primary-color;
    text-align: center;
    @media (min-width: 768px) {
      background-color: transparent;
      display: block !important;
      padding: 0 24px;
      text-align: left;
    }
    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      letter-spacing: .2em;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .menu-phone {
        color: $khaki;
        a::after {
          background-color: $khaki;
        }
      }
      li {
        a {
          display: inline-block;
          padding: 24px 12px;
          position: relative;
          @media (min-width: 768px) {
            padding: 50px 12px;
          }
          @media (min-width: 1024px) {
            padding: 50px 24px;
          }
          &::after {
            background-color: $white;
            bottom: 20px;
            display: block;
            content: '';
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            transition: all .3s ease-in-out;
            width: 0;
            @media (min-width: 768px) {
              bottom: 46px;
              left: 12px; // same as a padding
              transform: none;
            }
            @media (min-width: 1024px) {
              left: 24px;
            }
          }
          &:hover::after {
            background-color: $khaki;
            width: 30px;
          }
        }
        &.current-menu-item { // rename this class to match WP
          a::after {
            width: 30px;
          }
        }
      }
    }
  }
}
