.page-template-home {
  header {
    background-color: transparent;
  }
  .hero {
    height: 100%;
    position: relative;
    &::before {
      background-color: rgba($primary-color, .8);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
    .hero-video {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      iframe, video {
        height: 56.25vw;  // 9:16 as a percentage
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        width: 177.77777778vh; // 16:9 as a percentage
      }
    }
    .hero-content {
      left: 50%;
      padding: 50px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      h1 {
        color: $white;
        font-family: $font-family-primary;
        font-size: 36px;
        font-weight: $font-weight--bold;
        letter-spacing: .02em;
        line-height: 1.1;
        margin: 0;
        text-transform: none;
        &::after {
          content: none;
        }
        @media (min-width: 768px) {
          font-size: 56px;
          line-height: 1.5;
        }
      }
      h2 {
        color: $khaki;
        font-family: $font-family-header;
        font-size: 14px;
        letter-spacing: .2em;
        text-transform: uppercase;
      }
      .button {
        margin-top: 12px;
      }
    }
    .hero-diagonal {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      .diagonal-top {
        display: block;
        height: auto;
        width: 100%;
        polygon {
          fill: $primary-color;
        }
      }
      .arrow-down {
        &:hover svg {
          fill: $khaki;
        }
        svg {
          display: block;
          fill: $white;
          position: absolute;
          right: 4%;
          top: 60%;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
  .about {
    background-color: #081f2d;
    padding: 28px;
    .flex {
      display: flex;
      margin: 0 auto;
      max-width: 768px;
      @media (max-width: 767px) {
        display: block;
      }
      h2 {
        margin: 14px 0;
      }
      div {
        width: 100%;
      }
    }
  }
  .process {
    background-color: #081f2d;
    padding: 14px 14px 70px 14px;
    text-align: center;
    .flex {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 1024px;
      text-align: left;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .outer {
        border: 1px solid $blue-light;
        border-bottom: none;
        flex: 1;
        &:last-child {
          border-bottom: 1px solid $blue-light;
        }
        @media (min-width: 768px) {
          border: 1px solid $blue-light;
          border-right: none;
          &:last-child {
            border-right: 1px solid $blue-light;
          }
        }
        .inner {
          background-color: $blue-light;
          height: calc(100% - 16px);
          margin: 8px;
          padding: 24px;
          img {
            margin: 0 auto;
            max-width: 100px;
            width: 90%;
          }
          h2 {
            font-size: 20px;
          }
        }
      }
    }
    .button {
      margin-top: 24px;
    }
  }
  .mission {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 50px;
    position: relative;
    .overlay {
      background-color: rgba($primary-color, .8);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .content {
      position: relative;
      margin: 0 auto;
      max-width: 768px;
      h2, p {
        text-align: center;
      }
    }
    .diagonal-top, .diagonal-bottom {
      fill: $primary-color;
      height: auto;
      position: absolute;
      left: 0;
      width: 100%;
    }
    .diagonal-top {
      bottom: 0;
    }
    .diagonal-bottom {
      top: 0;
    }
  }
  .contact {
    background-color: $blue;
    padding: 14px;
    padding-bottom: 7.5%;
    .contact-bg {
      background-color: $blue-light;
      color: $white;
      margin: 0 auto;
      max-width: 1024px;
      padding: 24px;
      @media (min-width: 768px) {
        padding: 36px 50px;
      }
      h2 {
        text-align: center;
      }
      .frm_forms .frm_message, .frm_forms .frm_error_style {
        text-align: center;
      }
    }
  }
}
