{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% if gtm_id %}
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
    {% endif %}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		{% block header %}
			<header>
				<div class="header-flex">
					<h1 role="banner">
						<a href="{{site.url}}" rel="home">
							{{ source('images/logo-rmaestas.svg') }}
						</a>
					</h1>
					{# HIDE MENU TOGGLE IN FAVOR OF PHONE ICON
					<a class="menu-toggle" href="javascript:;" title="Menu">
						<div class="hamburger-icon">
							<div class="line line-1"></div>
						  <div class="line line-2"></div>
						  <div class="line line-3"></div>
						</div>
					</a>
					#}
					<a class="phone-icon" href="tel:{{ phone|replace({'(': '', ')': '','-': '', ' ': ''}) }}" title="Phone Number">
						{{ source('images/icon-phone.svg') }}
					</a>
				</div>
				<nav id="nav-main" class="nav-main" role="navigation">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav>
			</header>
		{% endblock %}

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}

		{{ function('wp_footer') }}

	</body>
</html>
