<footer>
  {{ source('images/diagonal-bottom.svg') }}
  <div class="footer-flex">
    <div class="left">
      <p>
        {% if phone %}
          <a href="tel:{{ phone|replace({'(': '', ')': '','-': '', ' ': ''}) }}">{{ phone }}</a>
        {% endif %}
        {% if linkedin %}
          <a href="{{ linkedin }}" target="_blank">LinkedIn</a>
        {% endif %}
        {% if facebook %}
          <a href="{{ facebook }}" target="_blank">Facebook</a>
        {% endif %}
      </p>
      <p>
        <span class="text">&copy; {{ site.title }}</span> <span class="pipe">|</span> <span class="text">All Rights Reserved</span> <span class="pipe">|</span> <a href="{{ site.link }}/privacy-policy/">Privacy Policy</a> <br> <span class="text">Site by <a class="credit" target="_blank" href="http://connormcallister.com">Connor McAllister</a></span> <span class="text">&amp; <a class="credit" target="_blank" href="http://jenmaestas.com" target="_blank">Jen Maestas</a></span>
      </p>
    </div>
    <div class="right">
      {{ source('images/logo-rm.svg') }}
    </div>
  </div>
</footer>
