<ul>
	{# HIDE MENU IN FAVOR OF PHONE ONLY
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	#}
	{% if phone %}
		<li class=" menu-item menu-phone">
			<a href="tel:{{ phone|replace({'(': '', ')': '','-': '', ' ': ''}) }}">{{ phone }}</a>
		</li>
	{% endif %}
</ul>
